Project/Mail_Task_Calendar_Telegram_agent/Personal life manager with Telegram, Google services & voice-enabled AI (1).json
{
  "name": "Personal life manager with Telegram, Google services & voice-enabled AI",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "621a4839-bc0d-4c73-b228-3831ad50ca3c",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1952,
        816
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"
        }
      },
      "id": "89d9a5d9-d3c7-48c1-98cf-cc8987ba9391",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2160,
        816
      ],
      "webhookId": "a4ae7b5d-7686-4bee-a753-848932860b4e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "MTb9GwPEqXfxeehC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "88f2bfc3-a997-4838-a4e6-911c60d377ec",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        880,
        472
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "CWwmM4Lfq6DJt1oQ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "fe37d04d-2bb4-4130-8386-665364195dce",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3104,
        472
      ],
      "webhookId": "2c133a40-af48-4106-bc1a-be6047840a89",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "CWwmM4Lfq6DJt1oQ",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a5717776-2c85-4dfb-9e05-bf9b805f9004",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1328,
        472
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc3d741a-2ed6-4c34-b14f-91a728b3fffd",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        1104,
        472
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "7c7cbb13-8b9d-4e98-9287-4002166ff159",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1552,
        400
      ],
      "webhookId": "ef3f120e-c212-45ff-99b5-b6a5a82598d8",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "CWwmM4Lfq6DJt1oQ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Try It Out!\n\nLaunch Jackie—your personal AI assistant that handles voice & text via Telegram to manage your digital life.\n\n**To get started:**\n\n1. **Connect all credentials** (Telegram, OpenAI, Gmail, etc.)\n2. **Activate the workflow** and message your Telegram bot:\n   • \"What emails do I have today?\"\n   • \"Show me my calendar for tomorrow\"\n   • \"Craete new to-do item\"\n   • 🎤 Send voice messages for hands-free interaction\n",
        "height": 568,
        "width": 460,
        "color": 4
      },
      "id": "1c27ac6c-39d7-4f07-8134-624e1cb21e07",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSend message back to Telegram\n",
        "height": 288,
        "width": 304,
        "color": 7
      },
      "id": "fd801aac-5dfa-4a51-abbd-b187a6e588e8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "task": "MDQxOTY0NTM1MzI1NjU3OTY1NzI6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "4a44f67a-65b1-4de7-898f-ee7724e33bb1",
      "name": "Create a task in Google Tasks",
      "type": "n8n-nodes-base.googleTasksTool",
      "position": [
        2480,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "aeTTNqsK806Lxgj9",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDQxOTY0NTM1MzI1NjU3OTY1NzI6MDow",
        "additionalFields": {}
      },
      "id": "0262484e-23cc-49b3-be29-8f205e49077a",
      "name": "Get many tasks in Google Tasks",
      "type": "n8n-nodes-base.googleTasksTool",
      "position": [
        2576,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "aeTTNqsK806Lxgj9",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "3acacedb-bafa-4fbf-8d3e-f198b19b9308",
      "name": "Transcribe a recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1776,
        400
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "5nUtwZg9Clpygj66",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Please format this nicely in html`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "2ea5b79c-2e49-4d7e-933c-8b1a58d2415c",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2272,
        816
      ],
      "webhookId": "a4ae7b5d-7686-4bee-a753-848932860b4e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "MTb9GwPEqXfxeehC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful personal assistant called Jackie.\n\nToday's date is {{ $today.format('yyyy-MM-dd') }}.\n\nGuidelines:\n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- If the user did not specify a date in the request assume they are asking for today\n- When answering questions about calendar events, filter out events that don't apply to the question. For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away\n- When creating calendar entry, the attendee email is optional\n\nCRITICAL - When marking tasks as complete:\n1. FIRST use \"Get many tasks in Google Tasks\" to retrieve all tasks\n2. For EACH task returned, use \"Update a task in Google Tasks\" with:\n   - Task ID must be the \"id\" field from the task you retrieved\n   - TaskList Name or ID should be the \"taskListId\" from the task or \"My Tasks\"\n   - In Update Fields, set \"status\" to \"completed\"\n3. Do NOT try to update tasks without getting their IDs first"
        }
      },
      "id": "4ec85126-51da-4f3b-a04f-16552fdcb244",
      "name": "Jackie, AI Assistant 👩🏻‍🏫",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2376,
        472
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1728,
        784
      ],
      "id": "f2cb9963-0682-473d-8f01-78a62cd4507d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5nUtwZg9Clpygj66",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ashumishra1994ash@gmail.com",
          "mode": "list",
          "cachedResultName": "ashumishra1994ash@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2768,
        784
      ],
      "id": "db99df96-4acb-4e09-9ecb-c5212e8ef679",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Pqg5gYlBjUPDggFH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ashumishra1994ash@gmail.com",
          "mode": "list",
          "cachedResultName": "ashumishra1994ash@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2880,
        784
      ],
      "id": "90d5c517-602a-4292-84a3-c6cd37c0aa04",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Pqg5gYlBjUPDggFH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Open AI model\n\n",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        720
      ],
      "id": "9529321c-2044-4a5d-926e-196cb30cdfc0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Memory\n\n",
        "height": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1856,
        768
      ],
      "id": "f15418e0-ada0-484a-9f1c-7ecfd4349a31",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Gmail\n\n",
        "height": 192,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        768
      ],
      "id": "80147806-d322-46b0-938b-5e80ba3e7b31",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Google Task\n\n",
        "height": 208,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2416,
        752
      ],
      "id": "6dbf4d63-6301-482e-b0f5-2c8bab23a952",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Google calendar\n\n",
        "height": 208,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        736
      ],
      "id": "588c8f74-e4c0-4e11-8b1e-318475cfd76c",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Jackie, AI Assistant 👩🏻‍🏫": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Jackie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "c4aeeec5-2909-4679-9730-c9cb4acc1116",
  "meta": {
    "templateId": "8237",
    "templateCredsSetupCompleted": true,
    "instanceId": "6538115531bc3b9c8c4a94ce4d959e741cd9be003bdce9bf4bed3572651a7cdd"
  },
  "id": "1vXhCb7g9gHoSv6q",
  "tags": []
}